
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    top: 10rem;
    left: 60rem;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent,transparent
    ,#45f3ff,#1299f9,#57c200);
    z-index: 1;
    
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent,transparent
    ,#45ffa8,#45f3ff,#4580ff);
    z-index: 1;
    
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -6s;
}


.border
{
    position: absolute;
    top: 0;
    inset: 0;
    

}
.border::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent,transparent
    ,#f90808,#4bff45,#fff645);
    z-index: 1;
    
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -1.5s;
}
.border::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg,transparent,transparent
    ,#f90808,#4bff45,#fff645);
    z-index: 1;
    
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -4.5s;
}
@keyframes animate{

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: o.1em;
}
.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;

}
.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.5em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: o.05em;
    transition: 0.5s;

}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;

}

.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;

}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;


}
.box form .links a:hover,
.box form .links a:nth-child(2)
{
 color: #fff;   
}
.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active{
    opacity: 0.8;
}
/* @media (max-width:360px)
{
    .box{
        width: 100%;
        height: 100vh;
        overflow: none;
    
    }
  .border::after,.border::before{
        opacity: 0;
    }
    .box::before{
        opacity: 0;
    }
    .box::after{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 700px;
        height: 700px;
        background: linear-gradient(0deg,transparent,transparent
        ,#f90808,#4bff45,#fff645);
        z-index: 1;
        
        animation: animate 2s linear infinite;
        transform-origin: bottom right;
        animation-delay: 0s;
    }
} */
.box button{
    position: absolute;
    z-index: 15;
    margin-left: 90px;
    margin-top: 322px;
    padding: 15px;
    width: 200px;
}
