.sortvalue{
    height: 30px;
    width: 100px;
    margin-top: 30px;
    background: transparent;
    color: rgb(96, 51, 51);
    font-size: 2em;
    margin-left: 30px   ;
    border-radius: 20px;
    border: none;
    /* border: 1px solid rgb(88, 84, 84) 0.1; */
}
.sortvalue:hover{
    color: rgb(247, 3, 3);
    cursor: pointer;
    border: 1px solid white;
    /* padding: 10px; */
    
}
.filterval{
    height: 30px;
    width: 100px;
    margin-top: 30px;
    background: transparent;
    color: rgb(96, 51, 51);
    font-size: 2em;
    margin-left: 30px   ;
    border-radius: 20px;
    border: none;
}
.filterval:hover{
    color: rgb(247, 3, 3);
    cursor: pointer;
    border: 1px solid white;
    /* padding: 10px; */
    
}
